<% include partials/header %>

<div>
        <h1 style="text-align: center; margin-top: 40px;">Create a new campground</h1>

        <div style="width: 30%; margin: 30px auto">
            <form action="/campgrounds" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">submit</button>
                </div>
            </form>

            <h3><a href="/campgrounds">campgrounds</a></h3>
            <h3><a href="/">main page</a></h3>
        </div>
</div>

<% include partials/footer %>